.btn {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
		0 2px 4px -1px rgba(0, 0, 0, 0.2);
	border: none;
	outline: none;
	border-radius: 100px;
	padding: 10px 20px;
	text-transform: uppercase;
}

.btn:hover {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
		0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.btn--secondary {
	background: #ff9100;
	color: white;
}
